force-app/main/default/flows/Active_Gift_Aid_Declaration_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Number_of_Active_gift_aid</name>
        <label>Number of Active gift aid</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>NoOfActiveGiftAid</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Gift_Aid_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateContactActiveDeclaration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>StoreAllActiveDeclarations</name>
        <label>StoreAllActiveDeclarations</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>ActiveDecCollections</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gift_Aid_List</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Number_of_Active_gift_aid</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Active Gift Aid Declaration 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Active Gift Aid Declaration 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gift_Aid_List</name>
        <label>Get Gift Aid List</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>StoreAllActiveDeclarations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Declaration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContactActiveDeclaration</name>
        <label>UpdateContactActiveDeclaration</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>No_Of_Active_Declaration__c</field>
            <value>
                <elementReference>NoOfActiveGiftAid</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Gift_Aid_List</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveDecCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>GiftAidCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>NoOfActiveGiftAid</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
