force-app/main/default/flows/Update_Active_Declaration_From_GiftAid.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>No_Of_Active_Gift_Declaration</name>
        <label>No Of Active Gift Declaration</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>NoOfActiveGiftVar</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GiftAidCollections</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_All_Gift_Aid_Active_Collections</name>
        <label>Store All Gift Aid Active Collections</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>GiftAidCollections</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Gift_Aid_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Of_Active_Gift_Declaration</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Update Active Declaration From GiftAid {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Active Declaration From GiftAid</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gift_Aid_Collection</name>
        <label>Get Gift Aid Collection</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_All_Gift_Aid_Active_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Declaration__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_GiftAid1</name>
        <label>Get GiftAid1</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Gift_Aid_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Related_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Gift_Aid_Declaration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_GiftAid1.Related_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>No_Of_Active_Declaration__c</field>
            <value>
                <elementReference>NoOfActiveGiftVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_GiftAid1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Declaration_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Declaration_Start_Date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Gift_Aid_Declaration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>GiftAidCollections</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Gift_Aid_Declaration__c</objectType>
    </variables>
    <variables>
        <name>NoOfActiveGiftVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
